.navbar-css{
    background-color: rgba(96, 71, 236);
    min-height: 80px;
}
.nav-css a{
    font-size: 22px;
    font-weight: 700;
    margin-left: 30px;

}
.logout-btn{
    background-color:rgb(255, 60, 137) ;
    border: none;
    color: azure;
    border-radius: 8px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}