.about-me{

    display: grid;
    grid-template-columns: repeat(2,1fr);


}
.text-css p{
    font-size: 20px;
    font-weight: 500;
    font-family:  Times, serif;

}
.habib-css{
    color: rgb(236, 59, 198);
}
.custom-img-css img{
    border-radius: 25px;
    box-shadow: rgba(236, 59, 198, 0.76) 0px 22px 70px 4px;
}
.goal-css{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    
}

@media screen and (max-width:450){
    .about-me{

        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    
    }

    
}